<ben@hilburn.dev> <ben.hilburn@ettus.com>
<ben@hilburn.dev> <bhilburn@gmail.com>
<carles.fernandez@gmail.com> <carlesfernandez@gmail.com>
<damian.miralles@aero.org> <damian.miralles@colorado.edu>
<damian.miralles@aero.org> <dmiralles2009@gmail.com>
<douglas.j.anderson@gmail.com> <djanderson@users.noreply.github.com>
<jcorgan@corganenterprises.com> <johnathan@corganlabs.com>
<magnuslundmark@gmail.com> <magnus@skysense.io>
<n.corgan@gmail.com> <nick.corgan@ettus.com>
<nate.ewest@gmail.com> <nathan.west@gnuradio.org>
<nate.ewest@gmail.com> <nathan.west@nrl.navy.mil>
<nate.ewest@gmail.com> <nathan.west@okstate.edu>
<nate.ewest@gmail.com> <nathan@pepper>
<nate.ewest@gmail.com> <nwest@deepsig.io>
<ritterho@hm.edu> <32478819+fritterhoff@users.noreply.github.com>
<tom@trondeau.com> <trondeau@vt.edu>
Alexandre Rouma <alexandre.rouma@gmail.com>
Alexandre Rouma <alexandre.rouma@gmail.com> <qwerty15@gmx.fr>
Alexey Slokva <alesha72003@ya.ru> <alesha72003@ya.ru>
Andrey Rodionov <rodionovamp@mail.ru> <rodionovamp@mail.ru>
Christoph Mayer <hcab14@gmail.com>
Christoph Mayer <hcab14@gmail.com> <Christoph.Mayer@cern.ch>
Douglas Geiger <doug.geiger@bioradiation.net>
Douglas Geiger <doug.geiger@bioradiation.net> <douggeiger@users.noreply.github.com>
Douglas Geiger <doug.geiger@bioradiation.net> <douglas.geiger@nrl.navy.mil>
Federico Larroca <flarroca@fing.edu.uy> <flarroca@fing.edu.uy>
Geof Nieboer <gnieboer@gcndevelopment.com> gnieboer <gnieboer@corpcomm.net>
Jam M. Hernandez Quiceno <jamarck96@gmail.com> Jam Quiceno <jam_quiceno@partech.com>
Johannes Sterz Demel <jdemel@gnuradio.org>
Johannes Sterz Demel <jdemel@gnuradio.org> <demel@ant.uni-bremen.de>
Johannes Sterz Demel <jdemel@gnuradio.org> <demel@uni-bremen.de>
Johannes Sterz Demel <jdemel@gnuradio.org> <johannes@demels.de>
Johannes Sterz Demel <jdemel@gnuradio.org> <ufcsy@student.kit.edu>
John Sallay <jasallay@gmail.com> jsallay <31416796+jsallay@users.noreply.github.com>
Marc Lichtman <marcll@vt.edu> <marcll@vt.edu>
Marcus Müller <marcus@hostalia.de>
Marcus Müller <marcus@hostalia.de> <mmueller@gnuradio.org>
Marcus Müller <marcus@hostalia.de> <mueller@kit.edu>
Michael Dickens <michael.dickens@ettus.com> <157892+michaelld@users.noreply.github.com>
Michael Dickens <michael.dickens@ettus.com> <michael.dickens@ettus.com>
Michael Dickens <michael.dickens@ettus.com> <mlk@alum.mit.edu>
Mike Piscopo <ghostop14@gmail.com> ghostop14 <ghostop14@gmail.com>
Nicholas McCarthy <namccart@gmail.com>
Nick Foster <nick@nerdnetworks.org> <bistromath@gmail.com>
Nick Foster <nick@nerdnetworks.org> <nick@ettus.com>
Olaf Bernstein <camel-cdr@protonmail.com>
Pascal Giard <evilynux@gmail.com> <pascal.giard@lacime.etsmtl.ca>
Philip Balister <philip@balister.org> <philip@opensdr.com>
Philip Balister <philip@balister.org> root <philip@balister.org>
Philip Balister <philip@balister.org> root <root@usrp-e1xx.(none)>
Rick Farina <zerochaos@gentoo.org> Rick Farina (Zero_Chaos) <zerochaos@gentoo.org>
Ryan Volz <ryan.volz@gmail.com> <rvolz@mit.edu>
Sam Lane <sl01172@surrey.ac.uk> <9569766+SJ-Innovation@users.noreply.github.com>
Sergi Granell Escalfet <xerpi.g.12@gmail.com> <sergi-granell-escalfet@arkedgespace.com>
Thomas Lorblanchès <zlika_ese@hotmail.com>
